<!-- DELETE PRODUCT -->
<div class="px-2">
  <button
    class="btn btn-danger btn-block text-uppercase d-flex justify-content-center"
    (click)="onDeleteProductBtnClick()"
  >
    <span class="mx-1 my-auto">{{ btnDeleteText }}</span
    ><span class="material-icons mx-2"> delete_forever </span>
  </button>
</div>
<!-- /DELETE PRODUCT -->
<!-- UPDATE PRODUCT -->
<div class="px-2">
  <button
    [disabled]="updateBTnDisabled"
    class="btn btn-dark btn-block text-uppercase d-flex justify-content-center"
    (click)="onUpdateProductBtnClick()"
  >
    <span class="mx-1 my-auto">{{ btnUpdateText }}</span>
    <span class="material-icons mx-2"> edit </span>
  </button>
</div>
<!-- /UPDATE PRODUCT -->
