<div class="d-flex justify-content-center my-4">
  <div class="d-flex flex-column">
    <div class="text-center pt-0 text-secondary">
      <span for="qty-picker">Number of items:</span>
    </div>
    <div>
      <div id="qty-picker" class="btn-group">
        <button
          type="button"
          class="btn btn-danger"
          [disabled]="minusBtnDisabled"
          (click)="decQtyClick()"
        >
          -
        </button>
        <button
          id="chosenQty"
          type="button"
          class="btn btn-outline-danger text-dark"
          disabled
        >
          {{ chosenProductQty }}
        </button>
        <button
          type="button"
          class="btn btn-danger"
          [disabled]="plusBtnDisabled"
          (click)="incQtyClick()"
        >
          +
        </button>
      </div>
      <label for="chosenQty" class="text-secondary mx-1">
        of {{ availableQty }} pieces
      </label>
    </div>
  </div>
</div>
