<ng-container>
  <div class="pb-3">Applied filters:</div>
  <div *ngFor="let filter of filters" class="mb-2">
    <div class="btn-group w-75">
      <ng-container [ngSwitch]="filter.type">
        <div *ngSwitchCase="FilterTypes.BUTTON" class="d-flex flex-fill">
          <button
            class="border border-secondary rounded w-100 custom-btn"
            [ngStyle]="{ 'background-color': filter.value }"
            disabled
          ></button>
        </div>
        <ng-container *ngSwitchCase="FilterTypes.SEARCH_PHRASE">
          <ng-container *ngTemplateOutlet="searchPhraseTemplate"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="normalTextTemplate"></ng-container>
        </ng-container>
      </ng-container>
      <!-- BTN REMOVE  -->
      <div>
        <button
          class="btn btn-outline-danger align-items-center text-center d-flex px-1 h-100"
          (click)="onCloseClick(filter)"
        >
          <span class="material-icons md-14"> close </span>
        </button>
      </div>
      <!-- /BTN REMOVE -->
    </div>

    <ng-template #normalTextTemplate>
      <div
        class="bg-light border border-secondary justify-content-center btn d-flex py-0 custom-btn"
      >
        <span>
          {{ filter.value }}
        </span>
      </div>
    </ng-template>
    <ng-template #searchPhraseTemplate>
      <div
        class="bg-light border border-secondary justify-content-center btn d-flex py-0 custom-btn"
      >
        <span> Searched: {{ filter.value }} </span>
      </div>
    </ng-template>
  </div>
  <hr class="custom-hr" />
</ng-container>
