<nav
  class="navbar navbar-expand-lg navbar-light"
  [ngStyle]="{ 'height.%': navbarHeightPerc }"
></nav>
<div class="container">
  <div class="test w-50 mx-auto">
    <div class="mx-auto mb-4 text-center">
      <a routerLink="/home">
        <img src="{{ AppComponent.getLogoImgPath() }}" />
      </a>
    </div>
    <div>
      <div class="my-3">
        <label for="name"><strong> Name </strong></label>
        <input id="name" type="text" class="form-control w-100" />
      </div>
      <div class="my-3">
        <label for="name"><strong>Surname</strong></label>
        <input type="text" class="form-control w-100" />
      </div>
      <div class="my-3">
        <label for="name"><strong>Email</strong></label>
        <input type="email" class="form-control w-100" />
      </div>
      <div class="my-3">
        <label for="name"><strong>Password</strong></label>
        <input type="password" class="form-control w-100" />
      </div>
      <div class="my-3">
        <label for="name"><strong>Repeat password</strong></label>
        <input type="password" class="form-control w-100" />
      </div>
    </div>
    <!-- BTNS AREA -->
    <div class="d-flex flex-row-reverse my-3">
      <!-- TODO: tmp click - change to form  -->
      <button
        class="btn btn-success my-2 my-sm-0"
        (click)="onRegisterClick()"
        routerLink="/home"
      >
        Register
      </button>
    </div>
  </div>
</div>
