<div class="m-2 modal-body">
  <div class="d-flex flex-row">
    <div class="w-50 bg-light">
      <img [src]="product.imageURL" alt="product_image" class="w-100 rounded" />
    </div>
    <div class="w-50 d-flex flex-column bg-light">
      <div
        *ngIf="!userHasAdministrativePrivileges; else editableName"
        class="text-center my-3"
      >
        <span class="h3"
          ><strong>{{ product.name }}</strong>
        </span>
      </div>
      <ng-template #editableName>
        <input
          class="text-center my-3 font-weight-bold rounded form-control-lg"
          [formControl]="editableNameControl"
          style="background-color: transparent"
        />
      </ng-template>
      <!-- STARS -->
      <div *ngIf="withStarRating" class="d-flex justify-content-center">
        <ngx-stars
          [readonly]="true"
          [color]="'orangered'"
          [size]="1"
          [initialStars]="product.starRating"
          [maxStars]="maxStars"
        ></ngx-stars>
      </div>
      <!-- /STARS -->
      <!-- PRICE -->
      <div
        *ngIf="!userHasAdministrativePrivileges; else editablePrice"
        class="text-center mt-4"
      >
        <span class="h4 font-weight-bold">{{ product.price | currency }}</span>
      </div>
      <ng-template #editablePrice>
        <div class="input-group mb-2 w-50 mx-auto mt-3">
          <div class="input-group-prepend">
            <div class="input-group-text" style="font-size: 1.5em">$</div>
          </div>
          <input
            class="text-center form-control font-weight-bold rounded"
            [formControl]="editablePriceControl"
            type="number"
            step="0.01"
            min="0"
            style="background-color: transparent; font-size: 1.5em"
          />
        </div>
      </ng-template>
      <!-- /PRICE -->
      <ng-container *ngIf="needToShowAddToCartBtn">
        <!-- QTY BTNS -->
        <div>
          <app-products-qty-picker
            [chosenProductQty]="chosenProductQty"
            [availableQty]="product.availableQty"
            (incBtnClick)="incQtyClick()"
            (decBtnClick)="decQtyClick()"
          ></app-products-qty-picker>
        </div>
        <!-- /QTY BTNS -->
        <div class="d-flex justify-content-center mx-2">
          <button
            class="btn btn-danger w-100 text-uppercase"
            (click)="onAddToCartClick()"
          >
            Add to cart
          </button>
        </div>
      </ng-container>
      <div>
        <hr />
      </div>

      <!-- COLOR AND SIZE -->
      <div class="btn-group mx-3 my-2 justify-content-center">
        <div class="d-flex align-items-center font-weight-bold mr-2">
          COLOR:
        </div>
        <div
          class="rounded border border-secondary"
          style="width: 55px; height: 25px"
          [ngStyle]="{ 'background-color': product.color }"
        ></div>
        <div class="d-flex align-items-center font-weight-bold mx-3">
          SIZE: {{ product.size }}
        </div>
      </div>
      <!-- /COLOR AND SIZE -->
      <div><hr /></div>

      <!-- DESCRIPTION -->
      <div class="mx-3">
        <div class="py-2 text-center font-weight-bold" style="font-size: 1.2em">
          DESCRIPTION
        </div>

        <div
          *ngIf="!userHasAdministrativePrivileges; else editableDescription"
          class="text-center"
        >
          {{ product.description }}
        </div>
        <ng-template #editableDescription>
          <textarea
            #editableDescription
            class="text-center w-100 rounded form-control"
            rows="4"
            [formControl]="editableDescriptionControl"
            style="background-color: transparent; font-size: 1.2em"
          ></textarea>
        </ng-template>
      </div>
      <!-- /DESCRIPTION -->
      <div><hr /></div>
      <!-- DELETE UPDATE BTNS -->
      <div *ngIf="userHasAdministrativePrivileges">
        <!-- DELETE BTN -->
        <div class="px-2">
          <button
            class="btn btn-danger btn-block text-uppercase d-flex justify-content-center"
            (click)="onUpdateProductBtnClick()"
          >
            <span class="mx-1 my-auto">Delete user</span
            ><span class="material-icons mx-2"> delete_forever </span>
          </button>
        </div>
        <!-- /DELETE BTN -->
        <!-- UPDATE BTN -->
        <div class="px-2">
          <button
            [disabled]="!productDataWasChangedByUser"
            class="btn btn-dark btn-block text-uppercase d-flex justify-content-center"
            (click)="onUpdateProductBtnClick()"
          >
            <span class="mx-1 my-auto">Update user info</span>
            <span class="material-icons mx-2"> edit </span>
          </button>
        </div>
        <!-- /UPDATE BTN -->
      </div>
    </div>
  </div>
</div>
