<div
  class="w-100 d-flex flex-row align-items-center btn btn-light border"
  [style.height.px]="205"
  (click)="rowClick.emit()"
>
  <img
    id="image"
    alt="image not loaded"
    [src]="orderedProduct.imageURI"
    class="mx-2 rounded"
    height="90%"
  />
  <div class="d-flex flex-column flex-fill mx-3 text-left" style="height: 90%; overflow: hidden;">
    <!-- NAME -->
    <div class="align-items-center d-flex">
      <div class="font-weight-bold">Name:</div>
      <div class="mx-1 text-truncate">
        {{ orderedProduct.name }}
      </div>
    </div>
    <!-- /NAME -->
    <!-- PRICE PER PIECE -->
    <div class="mt-2">
      <span class="font-weight-bold my-auto">Price for 1 piece:</span>
      <span class="mx-1">{{ orderedProduct.pricePerItem | currency }}</span>
    </div>
    <!-- /PRICE -->
    <!-- QTY -->
    <div class="mt-2">
      <span class="font-weight-bold">Ordered qunatity:</span
      ><span class="mx-1">{{ orderedProduct.orderedQty }}</span>
    </div>
    <!-- /QTY -->
    <!-- PURCHASE DATE -->
    <div class="mt-2">
      <span class="font-weight-bold"> Purchase date:</span>
      <span class="mx-1">{{ orderedProduct.orderDate }}</span>
    </div>
    <!-- /PURCHASE DATE -->
    <!-- TOTAL PRICE -->
    <div class="mt-2">
      <span class="font-weight-bold">Total price:</span>
      <div class="mx-1 badge badge-dark rounded" style="font-size: 1.1em">
        {{ PayedPrice | currency }}
      </div>
    </div>
    <!-- /TOTAL PRICE -->
  </div>
</div>
