<app-authentication-page>
  <div class="d-flex justify-content-center my-5">
    <div class="btn-group">
      <button
        class="btn btn-dark my-2 my-sm-0 pb-0 mx-2"
        routerLink="/authentication-choice/registration"
      >
        <div class="btn-group py-0">
          <i id="register-icon" class="material-icons">how_to_reg</i>
          <label class="px-3 py-auto" for="register-icon">Register</label>
        </div>
      </button>
      <button
        class="btn btn-dark my-2 my-sm-0 pb-0 mx-2"
        routerLink="/authentication-choice/login"
      >
        <div class="btn-group py-0">
          <i id="login-icon" class="material-icons">login</i>
          <label class="px-3 py-auto" for="login-icon">Login</label>
        </div>
      </button>
    </div>
  </div>
</app-authentication-page>
