<div *ngIf="usersFetched; else usersNotFetchedTemplate" class="container my-5">
  <div
    *ngIf="userList.length > 0; else emptyHistoryTemplate"
    class="d-flex flex-row w-100"
  >
    <!-- USER ROW -->
    <div class="w-50">
      <div *ngFor="let user of userList" class="d-flex flex-column">
        <app-user-row-component
          [user]="user"
          (rowClick)="actualChosenUser = user"
        ></app-user-row-component>
      </div>
    </div>
    <!-- /USER ROW -->
    <!-- /USER DETAILS -->
    <div class="w-50 sticky-to-navbar rounded" style="height: min-content">
      <div *ngFor="let user of userList" class="d-flex flex-column">
        <div *ngIf="actualChosenUser == user">
          <app-user-info-content
            [user]="actualChosenUser"
            [withUpdateBtn]="true"
            [withDeleteBtn]="user != actualLoggedUser"
            (deleteConfirmed)="onDeleteUserConfirmed(user)"
            (updateConfirmed)="onUpdateConfirmed($event)"
          ></app-user-info-content>
        </div>
      </div>
    </div>
    <!-- USER DETAILS -->
  </div>
</div>

<!-- TEMPLATES -->
<ng-template #usersNotFetchedTemplate>
  <ng-container *ngIf="httpError !== undefined; else dataLoadingTemplate">
    <div class="mx-auto my-5" style="width: 30%">
      <app-error-response
        [errorCode]="httpError.statusCode"
        [errorText]="httpError.msg"
        errorTextFontSize="1.4em"
      >
      </app-error-response>
    </div>
  </ng-container>
</ng-template>

<ng-template #dataLoadingTemplate>
  <app-data-loading
    text="Loading users' data"
    spinnerSize="3.5em"
  ></app-data-loading>
</ng-template>

<ng-template #emptyHistoryTemplate>
  <div>
    <div class="w-50 mx-auto">
      <app-empty-results text="Not found any users"></app-empty-results>
    </div>
  </div>
</ng-template>
