$navbar-height: 120px;
$primary-color: #e7475c;
$border-color: #ff4461;

$content-color-1: whitesmoke;
$default-content-color: #eceff1;

$dark-txt-color: #212121;

::ng-deep .alert-custom-danger {
  text-align: center;
  background-color: #f8d7da;
  color: #77232b;
  font-weight: bolder;
}

::ng-deep .alert-success {
  text-align: center;
  font-weight: bolder;
}

::ng-deep .alert-warning {
  text-align: center;
  font-weight: bolder;
}

@mixin primary-focus-shadow {
  border-color: $primary-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px $primary-color;
}

.sticky-to-navbar {
  position: sticky;
  top: $navbar-height;
}
