<div
  class="w-100 d-flex align-items-center btn border bg-light"
  [style.height.px]="205"
>
  <ng-container *ngIf="product; else dataLoadingTemplate">
    <img
      id="productImage"
      alt="image not loaded"
      [src]="product.imageURI"
      class="mx-2 rounded"
      height="90%"
      (click)="openModal(details)"
    />
    <div class="d-flex h-100 align-items-center" style="width: 35%">
      <div class="d-flex flex-column mx-4">
        <label for="productImage" (click)="openModal(details)"
          class="pointer-cursor"
          ><strong>{{ product.name }}</strong></label
        >
      </div>
    </div>
    <div class="d-flex h-100 align-items-center">
      <app-products-qty-picker
        [chosenProductQty]="qty"
        [availableQty]="product.availableQty"
        (incBtnClick)="incChosenProductQtyClick.emit()"
        (decBtnClick)="decChosenProductQtyClick.emit()"
      ></app-products-qty-picker>
    </div>
    <div
      class="d-flex h-100 align-items-center justify-content-center d-flex w-25"
    >
      <h5 class="font-weight-bold">{{ product.price | currency }}</h5>
    </div>
    <div class="d-flex flex-fill h-100 align-items-center" style="width: 10%">
      <button
        class="btn btn-danger pb-0 px-1"
        (click)="removeFromCartClick.emit()"
      >
        <span class="material-icons"> delete </span>
      </button>
    </div>
  </ng-container>
</div>

<!-- TEMPLATE -->
<ng-template #dataLoadingTemplate>
  <app-data-loading></app-data-loading>
</ng-template>

<!-- PRODUCT DETAIL TEMPLATE -->
<ng-template #details>
  <app-product-item-details
    [product]="product"
    [withAddToCartBtn]="false"
  ></app-product-item-details>
</ng-template>
<!-- PRODUCT DETAIL TEMPLATE -->
