<nav
  *ngIf="IsVisible"
  class="navbar navbar-expand-lg sticky-top bg-light border border-secondary border-right-0 navbar-fixed-height"
>
  <div class="container">
    <div
      class="mx-5 py-2 flex-fill d-flex justify-content-center navbar-fixed-height"
    >
      <a routerLink="/home" class="text-center"
        ><img src="{{ AppComponent.getLogoImgPath() }}"
      /></a>
    </div>
    <div class="w-100">
      <input
        [(ngModel)]="searchedPhrase"
        [typeahead]="products"
        typeaheadOptionField="name"
        [isAnimated]="true"
        [optionsListTemplate]="customListTemplate"
        (typeaheadOnSelect)="onSuggestionSelect($event.item)"
        class="form-control w-100"
        type="search"
        [typeaheadMinLength]="0"
        placeholder="Search product"
        placeholder="Search product"
        aria-label="Search"
        maxlength="15"
      />
    </div>
    <button
      class="btn btn-danger my-2 my-sm-0"
      type="button"
      (click)="onSearchClick()"
    >
      Search
    </button>
  </div>

  <!-- BUTTON FOR LOGGED USER -->
  <ng-container *ngIf="userIsLogged; else logonBtnTemplate">
    <ng-container *ngIf="UserHasClientAccountType; else employeePanelTemplate">
      <ng-container *ngTemplateOutlet="clientPanelTemplate"></ng-container>
    </ng-container>
  </ng-container>
  <!-- /BUTTON FOR LOGGED USER -->
</nav>

<!-- CLIENT PANEL TEMPLATE -->
<ng-template #clientPanelTemplate>
  <div class="btn-group">
    <button class="btn btn-outline-danger pb-0" routerLink="/cart">
      <i class="material-icons md-30">shopping_cart</i>
    </button>
    <div class="btn-group" dropdown #accountDropdown="bs-dropdown">
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-outline-danger btn-group"
        aria-controls="dropdown-animated"
      >
        <i class="material-icons md-30">account_circle</i>
        <span class="caret dropdown-toggle"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/client/info"
            ><i class="material-icons btn-group">assignment_ind</i
            ><span class="mx-3"> Account </span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/client/history">
            <i class="material-icons btn-group">history</i
            ><span class="mx-3"> Shopping history </span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/home" (click)="logoutUser()">
            <i class="material-icons btn-group">logout</i
            ><span class="mx-3 logout-txt"> Logout </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
<!-- /CLIENT PANEL TEMPLATE -->

<!-- /EMPLOYEE PANEL TEMPLATE -->
<ng-template #employeePanelTemplate>
  <div class="btn-group">
    <div class="btn-group" dropdown #accountDropdown="bs-dropdown">
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-outline-danger btn-group"
        aria-controls="dropdown-animated"
      >
        <i class="material-icons md-30">account_circle</i>
        <span class="caret dropdown-toggle"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/client/info"
            ><i class="material-icons btn-group">assignment_ind</i
            ><span class="mx-3"> Your Account </span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/users">
            <span class="material-icons"> supervisor_account </span>
            <span class="mx-3"> Client accounts </span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/home" (click)="logoutUser()">
            <i class="material-icons btn-group">logout</i
            ><span class="mx-3 logout-txt"> Logout </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
<!-- /EMPLOYEE PANEL TEMPLATE -->

<!-- CUSTOM LIST TEMPLATE -->
<ng-template
  #customListTemplate
  let-matches="matches"
  let-query="query"
  let-typeaheadTemplateMethods
>
  <ul class="custom-list-group" [class.dropdown-menu]="isBs3">
    <li
      style="cursor: pointer"
      class="custom-list-group-item"
      *ngFor="let match of matches"
      [class.active]="typeaheadTemplateMethods.isActive(match)"
      (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
      (mouseenter)="typeaheadTemplateMethods.selectActive(match)"
    >
      <span style="cursor: pointer">{{ match.item.name }}</span>
    </li>
  </ul>
</ng-template>
<!-- /CUSTOM LIST TEMPLATE -->

<!-- LOGON BTN TEMPLATE-->
<ng-template #logonBtnTemplate>
  <button
    class="btn btn-dark my-2 my-sm-0 pb-0"
    routerLink="/authentication-choice"
  >
    <div class="btn-group py-0">
      <i id="login-icon" class="material-icons">login</i>
      <label class="px-3 py-auto" for="login-icon">Login</label>
    </div>
  </button>
</ng-template>
<!-- /LOGON BTN TEMPLATE-->
