@use 'src/app/view/shared/styles' as shared;

img {
  max-width: 100%;
  max-height: 100%;
}

::ng-deep .dropdown-menu {
  min-width: 45% !important;
}

::ng-deep typeahead-container {
  width: 45% !important;
}

::ng-deep .dropdown-item{
  &:focus{
    background-color: shared.$primary-color !important;
  }
}

.custom-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 25em;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.custom-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: white;
}

.custom-list-group-item.active {
  z-index: 2;
  color: shared.$light-txt-color;
  background-color: shared.$primary-color;
  border-color: shared.$border-color;
}

.material-icons.md-30 {
  font-size: 30px;
}

.logout-txt{
  color: shared.$primary-color;
}

.form-control:focus {
  @include shared.primary-focus-shadow;
}