<nav
  class="navbar navbar-expand-lg sticky-top bg-light border border-secondary border-right-0"
  [style.height.px]="navbarHeightPx"
>
  <div class="container">
    <div class="navbar-brand mx-5">
      <a routerLink="/home"
        ><img src="{{ AppComponent.getLogoImgPath() }}"
      /></a>
    </div>
    <div class="w-100">
      <input
        [(ngModel)]="searchedPhrase"
        [typeahead]="products"
        typeaheadOptionField="name"
        [isAnimated]="true"
        [optionsListTemplate]="customListTemplate"
        class="form-control w-100"
        type="search"
        [typeaheadMinLength]="0"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
  </div>

  <!-- BUTTON FOR LOGGED USER -->
  <div *ngIf="userIsLogged" class="btn-group">
    <button class="btn btn-outline-danger pb-0" routerLink="/cart">
      <i class="material-icons md-30">shopping_cart</i>
    </button>
    <div class="btn-group" dropdown #accountDropdown="bs-dropdown">
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-outline-danger btn-group"
        aria-controls="dropdown-animated"
      >
        <i class="material-icons md-30">account_circle</i>
        <span class="caret dropdown-toggle"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem">
          <a class="dropdown-item" href="#"
            ><i class="material-icons btn-group">assignment_ind</i
            ><span class="mx-3"> Account </span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/client/history">
            <i class="material-icons btn-group">history</i
            ><span class="mx-3"> Shopping history </span>
          </a>
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            routerLink="/home"
            (click)="AppComponent.logoutUser()"
          >
            <i class="material-icons btn-group">logout</i
            ><span class="mx-3 logout-txt"> Logout </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /BUTTON FOR LOGGED USER -->
  <!-- LOGIN BTN -->
  <button
    *ngIf="!userIsLogged"
    class="btn btn-dark my-2 my-sm-0 pb-0"
    routerLink="/authentication-choice"
  >
    <div class="btn-group py-0">
      <i id="login-icon" class="material-icons">login</i>
      <label class="px-3 py-auto" for="login-icon">Login</label>
    </div>
  </button>
  <!-- /LOGIN BTN -->
</nav>

<!-- TEMPLATES -->
<ng-template
  #customListTemplate
  let-matches="matches"
  let-query="query"
  let-typeaheadTemplateMethods
>
  <ul class="custom-list-group" [class.dropdown-menu]="isBs3">
    <li
      class="custom-list-group-item"
      *ngFor="let match of matches"
      [class.active]="typeaheadTemplateMethods.isActive(match)"
      (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
      (mouseenter)="typeaheadTemplateMethods.selectActive(match)"
    >
      {{ match.item.name }}
    </li>
  </ul>
</ng-template>
