@use 'src/app/view/shared/styles' as shared;

.btn-category {
  text-align: center;
  color: shared.$dark-txt-color;
  &:hover {
    background-color: shared.$primary-color !important;
    color: shared.$light-txt-color;
  }
  &:focus {
    @include shared.primary-focus-shadow;
  }
}

.category-container-header {
  width: 250px;
  font-weight: bolder;
}

.custom-hr {
  width: 70%;
  background-color: shared.$primary-color;
}
