@use 'src/app/view/shared/styles' as shared;

$prefernces-panel-width: 250px;

.btn-category {
  text-align: center;
  color: shared.$dark-txt-color;
  &:hover {
    background-color: shared.$primary-color !important;
    color: shared.$light-txt-color;
  }
  &:focus {
    @include shared.primary-focus-shadow;
  }
}

.category-container-header {
  width: $prefernces-panel-width;
  font-weight: bolder;
}

.preferences-panel {
  width: $prefernces-panel-width;
}

.custom-hr {
  width: 70%;
  background-color: shared.$primary-color;
}