<div
  *ngFor="let alert of alerts"
  class="sticky-top"
>
  <alert
    [type]="alert.type"
    [dismissOnTimeout]="alert.timeout"
    [dismissible]="true"
    (onClosed)="removeAlert(alert.id)"
    >{{ alert.msg }}</alert
  >
</div>
<app-authentication-page>
  <app-form-ui-generator
    [formGroup]="loginForm"
    [formDatamodel]="formDataModel"
    [submitBtnTxt]="'Login'"
    (onSubmitBtnClickEmitter)="onLoginBtnClick()"
    (onBackBtnClickEmitter)="onBackBtnClick()"
  ></app-form-ui-generator>
</app-authentication-page>
