<div class="container my-5">
  <ng-container *ngIf="!cartIsEmpty; else cartEmptyTemplate">
    <div
      *ngIf="dataReady; else historyNotFetchedTemplate"
      class="d-flex flex-row"
    >
      <!-- PRODUCTS -->
      <div style="width: 65%">
        <div class="bg-light text-center border rounded py-2">
          <span class="text-uppercase font-weight-bold" style="font-size: 1.2em"
            >your cart</span
          >
        </div>
        <div *ngFor="let productEntry of productsInCart | keyvalue">
          <div class="w-100">
            <app-cart-product-row
              [product]="productEntry.key"
              [qty]="productEntry.value"
              (incChosenProductQtyClick)="
                onIncProductQtyClick(productEntry.key)
              "
              (decChosenProductQtyClick)="
                onDecProductQtyClick(productEntry.key)
              "
              (removeFromCartClick)="
                onRemoveProductFromCartClick(productEntry.key)
              "
            ></app-cart-product-row>
          </div>
        </div>
      </div>
      <!-- /PRODUCTS -->
      <!-- FINALIZE PANEL -->
      <div class="px-1" style="width: 35%">
        <div
          class="d-flex flex-column bg-light border rounded px-4 py-3 sticky-to-navbar"
        >
          <!-- PRICE TO PAY INFO -->
          <div class="mb-2">
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-uppercase px-2 text-secondary">to pay</div>
              <div class="h3 my-0 font-weight-bold text-dark">
                {{ priceToPay | currency }}
              </div>
            </div>
            <div
              class="text-uppercase text-secondary d-flex justify-content-end"
              style="font-size: 0.85em"
            >
              + shipping costs
            </div>
          </div>
          <!-- /PRICE TO PAY INFO -->
          <button
            class="btn btn-danger text-uppercase"
            style="font-size: inherit"
            routerLink="/cart/shipment"
          >
            Shipment and payment
          </button>
          <button
            class="btn btn-light text-uppercase"
            style="font-size: inherit"
            routerLink="/home"
          >
            continue shopping
          </button>
        </div>
      </div>
      <!-- /FINALIZE PANEL -->
    </div>
  </ng-container>
</div>

<!-- TEMPLATES -->
<ng-template #cartEmptyTemplate>
  <div>
    <div class="w-50 mx-auto">
      <app-empty-results text="Your cart is empty"></app-empty-results>
    </div>
  </div>
</ng-template>

<ng-template #dataLoadingTemplate>
  <app-data-loading
    [text]="'Loading cart\'s data'"
    spinnerSize="3em"
  ></app-data-loading>
</ng-template>

<ng-template #historyNotFetchedTemplate>
  <ng-container *ngIf="httpError !== undefined; else dataLoadingTemplate">
    <div class="w-100 bg-light">
      <div class="w-50 mx-auto py-3">
        <app-error-response
          [errorCode]="httpError.statusCode"
          [errorText]="httpError.msg"
        >
        </app-error-response>
      </div>
    </div>
  </ng-container>
</ng-template>
