<div
  class="w-100 d-flex align-items-center btn btn-light border"
  [style.height.px]="205"
  (click)="productRowClick.emit()"
>
  <img
    id="image"
    alt="image not loaded"
    [src]="product.imageURI"
    class="mx-2 rounded"
    height="90%"
  />
  <div class="d-flex h-100 align-items-center">
    <div class="d-flex flex-column mx-4">
      <label for="image"
        ><strong>{{ product.name }}</strong></label
      >
      <ngx-stars
        style="z-index: 1"
        [readonly]="true"
        [color]="'orangered'"
        [size]="1"
        [initialStars]="product.starRating"
        [maxStars]="maxStars"
      ></ngx-stars>
    </div>
  </div>
  <div class="d-flex flex-fill h-100 align-items-center justify-content-end">
    <label class="h5 mr-4">{{ product.price | currency }}</label>
  </div>
</div>
