<app-navbar></app-navbar>
<div class="bg-light w-50 mx-auto px-2 py-2">
  <div class="h4 py-3 text-center">Account info</div>

  <div class="my-5 mx-5">
    <label class="font-weight-bold w-100"> Name:</label>
    <div class="form-control w-100">{{ user.name }}</div>
  </div>
  <div class="my-5 mx-5">
    <label><strong> Surname: </strong></label>
    <div class="form-control w-100">{{ user.surname }}</div>
  </div>
  <div class="my-5 mx-5">
    <label><strong> Email: </strong></label>
    <div class="form-control w-100">{{ user.email }}</div>
  </div>
  <div class="my-5 mx-5">
    <label><strong> Account type: </strong></label>
    <div class="form-control w-100">{{ AccountTypeString }}</div>
  </div>
</div>
