<app-navbar></app-navbar>
<div class="container my-5">
  <ng-container *ngIf="shoppingHistoryFetched; else dataLoadingTemplate">
    <ng-container *ngIf="shoppingHistory.length > 0; else emptyHistoryTemplate">
      <div class="row">
        <!-- ITEMS LIST -->
        <div class="col">
          <app-sort-btn
            [sortingMethods]="availableSortMethods"
            [initSortMethod]="availableSortMethods.get(initSortMethodKey)"
            (sortMethodChange)="changeSortingMethod($event)"
          ></app-sort-btn>
          <ng-container *ngFor="let product of shoppingHistory">
            <app-ordered-product-row
              (rowClick)="onRowClick(product)"
              [orderedProduct]="product"
            ></app-ordered-product-row>
          </ng-container>
        </div>
        <!-- /ITEMS LIST -->

        <!-- CONTENT -->
        <div class="col">
          <div class="bg-warning">content</div>
        </div>
        <!-- /CONTENT -->
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- TEMPLATES -->
<ng-template #dataLoadingTemplate>
  <app-data-loading
    text="Loading user's history"
    spinnerSize="3.5em"
  ></app-data-loading>
</ng-template>

<ng-template #emptyHistoryTemplate>
  <div class="d-flex flex-column py-5">
    <div class="text-center">
      <img src="assets/emptyCart.png" width="50%" alt="cart-empty-image" />
    </div>
    <div
      class="text-center py-5 h4 empty-cart-label text-capitalize font-weight-bold"
    >
      your shopping history is empty
    </div>
  </div>
</ng-template>
