<app-navbar></app-navbar>
<div class="container my-5">
  <ng-container *ngIf="shoppingHistoryFetched; else dataLoadingTemplate">
    <ng-container *ngIf="shoppingHistory.length > 0; else emptyHistoryTemplate">
      <div class="row">
        <!-- ITEMS LIST -->
        <div class="col-5">
          <app-sort-btn
            [sortingMethods]="availableSortMethods"
            [initSortMethod]="availableSortMethods.get(initSortMethodKey)"
            (sortMethodChange)="changeSortingMethod($event)"
          ></app-sort-btn>
          <ng-container *ngFor="let product of shoppingHistory">
            <app-ordered-product-row
              (rowClick)="onRowClick(product)"
              [orderedProduct]="product"
            ></app-ordered-product-row>
          </ng-container>
        </div>
        <!-- /ITEMS LIST -->

        <!-- CONTENT -->
        <div class="col-7">
          <div class="bg-light rounded product-details" [style.top.px]="navbarHeightPx">
            <app-product-item-details
              [product]="actualDisplayedProduct"
              [withAddToCartBtn]="false"
              [withStarRating]="false"
            ></app-product-item-details>
          </div>
        </div>
        <!-- /CONTENT -->
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- TEMPLATES -->
<ng-template #dataLoadingTemplate>
  <app-data-loading
    text="Loading user's history"
    spinnerSize="3.5em"
  ></app-data-loading>
</ng-template>

<ng-template #emptyHistoryTemplate>
  <div>
    <div class="w-50 mx-auto">
      <app-empty-results text="your shopping history is empty"></app-empty-results>
    </div>
  </div>
</ng-template>
