<div class="d-flex flex-column border border-left-0">
  <div class="bg-light pb-0 text-center">
    <div class="mt-2 d-flex flex-row w-100 justify-content-center">
      <div class="text-secondary mx-2 my-auto">Sorting method:</div>
      <div style="width: 20%">
        <app-sort-btn
          [sortingMethods]="availableSortMethods"
          [initSortMethod]="availableSortMethods.get(actualSortMethodKey)"
          (sortMethodChange)="changeSortingMethod($event)"
        ></app-sort-btn>
      </div>
    </div>
    <hr class="custom-hr" />
  </div>

  <div
    *ngIf="productsDataReady; else historyNotFetchedTemplate"
    class="content-wrapper"
  >
    <ng-container *ngIf="products.length > 0; else emptyResultsTemplate">
      <ng-container *ngFor="let product of productsPerPage">
        <app-product-item-row
          [product]="product"
          (productRowClick)="onProductRowClick(product)"
        ></app-product-item-row>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="d-flex flex-row-reverse">
  <pagination
    [totalItems]="products.length"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="maxPaginationItems"
    [boundaryLinks]="true"
    [rotate]="true"
  >
  </pagination>
</div>

<!-- TEMPLATES -->
<ng-template #dataLoadingTemplate>
  <div class="bg-light">
    <app-data-loading
      text="Loading products"
      spinnerSize="3em"
    ></app-data-loading>
  </div>
</ng-template>

<ng-template #emptyResultsTemplate>
  <div class="bg-light w-100">
    <div class="w-50 mx-auto py-4">
      <app-empty-results></app-empty-results>
    </div>
  </div>
</ng-template>

<ng-template #historyNotFetchedTemplate>
  <ng-container *ngIf="httpError !== undefined; else dataLoadingTemplate">
    <div class="w-100 bg-light">
      <div class="w-50 mx-auto py-3">
        <app-error-response
          [errorCode]="httpError.statusCode"
          [errorText]="httpError.msg"
        >
        </app-error-response>
      </div>
    </div>
  </ng-container>
</ng-template>
