<div class="d-flex flex-column border border-left-0">
  <div class="bg-light pb-0 text-center">
    <div class="mt-2">
      <label for="sortBtn" class="text-secondary mx-2">Sorting</label>
      <ng-container *ngTemplateOutlet="sortBtn" id="sortBtn"></ng-container>
    </div>
    <hr class="custom-hr" />
  </div>

  <div *ngIf="productsDataReady; else dataLoadingPanel" class="content-wrapper">
    <p class="content-item">
      <ng-container *ngFor="let product of productsPerPage">
        <app-product-item-row
          [product]="product"
          (productRowClick)="openModal(details)"
        ></app-product-item-row>

        <!-- DETAILS TEMPLATE  -->
        <ng-template #details>
          <app-product-item-details
            [product]="product"
            (addToCartClick)="onAddToCartClick($event, product)"
          ></app-product-item-details>
        </ng-template>
        <!-- /DETAILS TEMPLATE  -->
      </ng-container>
    </p>
  </div>
</div>
<div class="d-flex flex-row-reverse">
  <pagination
    [totalItems]="products.length"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)"
  >
  </pagination>
</div>

<!-- TEMPLATES -->
<ng-template #sortBtn>
  <div class="btn-group" dropdown>
    <button
      id="button-animated"
      dropdownToggle
      type="button"
      class="btn btn-danger dropdown-toggle"
      aria-controls="dropdown-animated"
    >
      {{ getSortingMethodLabelTxt(actualSortingMethod) }}
      <span class="caret"></span>
    </button>
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-animated"
    >
      <li *ngFor="let methodKey of sorthingMethodsKeys" role="menuitem">
        <a
          class="dropdown-item btn btn-outline-dark"
          (click)="changeSortingMethod(methodKey)"
          >{{ getSortingMethodLabelTxt(methodKey) }}</a
        >
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #dataLoadingPanel>
  <div class="bg-light">
    <app-data-loading text="Loading products" spinnerSize="3em"></app-data-loading>
  </div>
</ng-template>
