<ng-container *ngIf="filters.length > 0">
  <div class="pb-3">Applied:</div>
  <div *ngFor="let filter of filters" class="mb-2">
    <div class="btn-group">
      <ng-container [ngSwitch]="filter.type">
        <div
          *ngSwitchCase="FilterTypes.TEXT"
          class="bg-light border border-secondary align-items-center btn d-flex py-0"
        >
          {{ filter.value }}
        </div>
        <div *ngSwitchCase="FilterTypes.BUTTON">
          <button
            class="border border-secondary align-items-center btn d-flex"
            style="height: 20px; width: 20px"
            [ngStyle]="{ 'background-color': filter.value }"
          ></button>
        </div>
      </ng-container>
      <button
        class="btn btn-outline-danger align-items-center d-flex py-0 px-0"
        (click)="onCloseClick(filter)"
      >
        <span class="material-icons md-14"> close </span>
      </button>
    </div>
  </div>
  <hr class="custom-hr" />
</ng-container>
