<app-navbar></app-navbar>
<div
  *ngFor="let alert of alerts"
  [style.top.px]="navbarHeightPx"
  class="sticky-alert"
>
  <alert
    [type]="alert.type"
    [dismissOnTimeout]="alert.timeout"
    [dismissible]="true"
    (onClosed)="removeAlert(alert.id)"
    >{{ alert.msg }}</alert
  >
</div>

<div class="bg-light w-50 mx-auto px-5">
  <div class="py-4 h4 text-center">Shipment details</div>
  <div class="form-row my-4">
    <label for="inputAddress" class="font-weight-bold">{{
      formDataModel.address.name
    }}</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Apartment, floor"
      [formControl]="shipmentForm.get('address')"
    />
    <div class="w-100">
      <app-control-messages
        [control]="shipmentForm.get('address')"
      ></app-control-messages>
    </div>
  </div>
  <div class="form-row my-4">
    <div class="form-group col-md-6">
      <label for="inputCity" class="font-weight-bold">{{
        formDataModel.city.name
      }}</label>
      <input
        type="text"
        class="form-control"
        [formControl]="shipmentForm.get('city')"
      />

      <div class="w-100">
        <app-control-messages
          [control]="shipmentForm.get('city')"
        ></app-control-messages>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState" class="font-weight-bold">{{
        formDataModel.state.name
      }}</label>
      <select
        id="inputState"
        class="form-control"
        [formControl]="shipmentForm.get('state')"
      >
        <option *ngFor="let state of states">{{ state }}</option>
      </select>
      <div class="w-100">
        <app-control-messages
          [control]="shipmentForm.get('state')"
        ></app-control-messages>
      </div>
    </div>

    <div class="form-group col-md-2">
      <label for="inputZip" class="font-weight-bold">{{
        formDataModel.zip.name
      }}</label>
      <input
        type="text"
        class="form-control"
        id="inputZip"
        [formControl]="shipmentForm.get('zip')"
      />
      <div class="w-100">
        <app-control-messages
          [control]="shipmentForm.get('zip')"
        ></app-control-messages>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row-reverse w-100 pb-5">
    <div class="btn-group w-100 d-flex">
      <button class="btn btn-secondary" routerLink="../">Back</button>
      <button class="btn btn-danger" (click)="onBuyBtnClick()">Buy</button>
    </div>
  </div>
</div>
